.store-link{
  color: rgb(0, 113, 133);
  cursor: pointer;
}
.shoe-desc{
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.price-status{
  color: rgb(0, 118, 0);
  font-size: 14px;
  font-weight: bold;
}
.cart-button{
  background-color: rgb(255, 216, 20);
  color: black;
  border-radius: 14px;
  border: none;
  padding: 4px 14px;
  cursor: pointer;
}
.cart-button:hover{
  background-color: rgb(250, 137, 0);
}
.cart-button:active{
  opacity: 0.5;
  background-color: rgb(255, 216, 20);
}
.buy-button{
  background-color: rgb(255, 164, 28);
  color: black;
  border-radius: 14px;
  border: none;
  padding: 4px 18px;
